.root {
  position: relative;
  /* z-index: 1;
  box-sizing: border-box;
  box-shadow: var(--mantine-shadow-md);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  } */


}
